@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Momo Trust Display", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    min-height: 0;
}

window#waybar {
    background-color: alpha(@background, 0.85);
    box-shadow: 0 10px 24px rgba(0,0,0,0.22)
   
}

tooltip {
    background: alpha(@background, 0.8);;
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 10px;
}

tooltip label {
  color: @on_surface;
}

#custom-menu {
    padding-left: 20px;
    padding-right: 25px;
    font-family: "NotoSansMono Nerd Font";
}

#workspaces {
    min-width: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#workspaces button {
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background: @primary;
    color: #121212;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background:linear-gradient(90deg, @primary 0%, @on_primary_fixed_variant 100%);;
    border-radius: 9999px;
    padding-left: 18px;
    padding-right: 18px;
    transition: all 0.3s ease-in-out;

    
}

#mpris {
    padding-right: 20px;
    padding-left: 20px;
    margin: 5px;
    border-radius: 13px;
    border: 3px solid @on_secondary_fixed_variant;

}

#clock {
    padding-right: 20px;
    padding-left: 20px;
    margin: 5px;
    border-radius: 100px;
    background-color: @primary;
    color: @background;
}


#custom-weather {
    padding-right: 20px;
    padding-left: 20px;
    margin: 5px;
    border-radius: 100px;
    background-color: @primary;
    color: @background;
}



#custom-niflveil.empty {
    color: @on_surface;
}
#pulseaudio-slider {
    padding: 0;
    margin-right: 10px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    background: @outline_variant;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, @on_tertiary_fixed 0%, @on_tertiary 100%);
    
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
}

#network {
    margin-right: 5px;
}

#custom-niflveil, 
#audio,
#custom-notification,
#bluetooth,
#network {
    padding-right: 15px;
    padding-left: 15px;
    
}

#settings{
    margin-right: 10px;
    border: 4px solid @on_secondary_fixed_variant;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}










